<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Marc Fieser Learning Blog">
    <meta name="author" content="Marc Fieser">
    <title>Marc Fieser Home</title>

    <link href="vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="vendor/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

    <!-- Header -->
    <header id="header" class="">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Marc's Blog</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="/journal/new-entry">New Post</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
    </header><!-- /header -->
    <!-- Body -->
    <main class="container">
        <div class="row">
            <div class="col-md-8">

                <h1>Most Recent Posts</h1><hr>

                <article>
                    <h2><a href="post.html">Title of the Article Goes Here</a></h2>
                    <span id="time" class="glyphicon glyphicon-time"></span><br><br>
         
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <span class="glyphicon glyphicon-folder-open"></span> &nbsp;<a href="#">Categories</a>
                            &nbsp;&nbsp;<span class="glyphicon glyphicon-bookmark"></span> <a href="#">Tags</a>, <a href="#">Tags2</a>
                            &nbsp;<span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">Comments</a>
                        </div>
                    </div><hr>
                    <img src="http://placehold.it/900x300" class="img-responsive"><br />

                    <p class="lead">Lorem ipsum dolor sit amet, nibh vitae adipisci an mei. Invidunt oportere vim ei, 
                    percipit intellegam usu ne.Lorem ipsum dolor sit amet, nibh vitae adipisci an mei. Invidunt oportere vim ei, 
                    percipit intellegam usu ne, his cu idque rationibus. Liberavisse necessitatibus nec ei, inermis gloriatur 
                    democritum nec eu. Eu pri explicari hendrerit, velit equidem no vim. Patrioque complectitur nec te, no
                    mea postea putant aliquando. Sit epicurei oporteat intellegam an, fugit melius commodo ne est, 
                    per at possit virtute delectus.</p>
                    <p class="text-right">
                        <a href="/journal/{id:\d+}/edit-entry">
                            continue reading...
                        </a>
                    </p><hr>
                </article>

                <article>
                    <h2><a href="post.html">Title of the Article Goes Here</a></h2>
                    <span id="time" class="glyphicon glyphicon-time"></span><br><br>
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <span class="glyphicon glyphicon-folder-open"></span> &nbsp;<a href="#">Categories</a>
                            &nbsp;&nbsp;<span class="glyphicon glyphicon-bookmark"></span> <a href="#">Tags</a>, <a href="#">Tags2</a>
                            &nbsp;<span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">Comments</a>
                        </div> 
                    </div><hr>
                    <img src="http://placehold.it/900x300" class="img-responsive"><br />

                    <p class="lead">Lorem ipsum dolor sit amet, nibh vitae adipisci an mei. Invidunt oportere vim ei, 
                    percipit intellegam usu ne. Invidunt oportere vim ei, percipit intellegam usu ne.
                    Invidunt oportere vim ei, percipit intellegam usu ne.</p>
                    <p class="text-right">
                    <a href="singlepost.html">
                        continue reading...
                    </a>
                    </p><hr>
                </article>

                    
                <ul class="pager">
                    <li class="previous"><a href="#">&larr; Previous</a></li>
                    <li class="next"><a href="#">Next &rarr;</a></li>
                </ul>

            </div>
            <section class="col-md-4">

                <section class="well text-center">
                    <p class="lead">
                        Don't want to miss updates? Please click the below button!
                    </p>
                    <button class="btn btn-primary btn-lg">Subscribe to my feed</button>
                </section>

                <!-- Latest Posts -->
                <section class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Recent Posts</h4>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">1. Article 1</a></li>
                        <li class="list-group-item"><a href="#">2. Article 2</a></li>
                        <li class="list-group-item"><a href="#">3. Article 3</a></li>
                        <li class="list-group-item"><a href="#">4. Article 4</a></li>
                    </ul>
                </section>

                <!-- Categories -->
                <section class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Categories</h4>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">Category 1</a></li>
                        <li class="list-group-item"><a href="#">Category 2</a></li>
                        <li class="list-group-item"><a href="#">Category 3</a></li>
                    </ul>
                </section>

                <!-- Tags -->
                <section class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Tags</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="list-inline">
                            <li><a href="#">Example Tag 1</a></li>
                            <li><a href="#">Example Tag 2</a></li>
                            <li><a href="#">Example Tag 3</a></li>
                        </ul>
                    </div>
                </section>
            </section>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <hr />
            <p class="text-center">Copyright &copy; Marc Fieser 2016.</p>
        </div>
    </footer>

    <!-- Jquery and Bootstrap Script files -->
    <script src="vendor/jquery-2.1.4.js"></script>
    <script src="vendor/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="scripts/app.js"></script>
</body>
</html>